$background: #020504;
$background_opa: rgb(10, 10, 10, 0.6);
$secondary_bg: #14251F;
$primary_light: #1ae698;
$primary: #12CC85;
$primary2:rgb(12, 136, 88);
$primary_op: #0d915e;

body {
    background-color: $background;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: rgb(199, 199, 199);
}

a {
    text-decoration: none;
}

nav { 
    z-index: 10;
    padding: 23px 60px;

    position: fixed;
    width: calc( 100% - 60px - 60px );

    .navinfo {
        overflow: hidden;
        background-color: $secondary_bg;
        max-height: 41px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #FDFDFD;
        border-radius: 0.5rem;
        font-size: 13px;
        position: relative;
        padding: 0 30px;
        transition: 0.5s all ease;

        .redes {
            i {
                font-size: 20px;
                margin: 0 3px;
            }
        }

        .contacto {
            display: flex;
            font-weight: 600;

            .email {
                margin-left: 10px;
                color: $primary;
                border-left: 1px solid $primary_op;
                padding-left: 10px;
            }

        }

        .idioma {
            display: flex;
            justify-content: center;
            align-items: center;

            .bandera {
                height: 15px;
                margin-right: 4px;
            }

            p {
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 1.1px;
            }
        }
    }

    .bar {
        height: 35px;
        padding: 4px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Inter Tight", sans-serif;
        font-size: 14px;
        font-weight: 600;

        transition: 0.5 margin-top ease;

        margin-top: 15px;
        
        .logo {
            font-size: 23px;
            letter-spacing: 1.7px;
            color: white;
            font-weight: 500;
        }

        .atajos_mobile {
            position: fixed;
            background-color: $secondary_bg;
            height: 100vh;
            max-height: 0;
            overflow: hidden;
            width: 100vw;
            top: 0;
            left: 0;

            transition: 0.8s max-height;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .selected { 
                background-color: rgb(37, 37, 37);
                color: rgb(255, 255, 255);
                transition: 0.5s all ease;
            }

            a {
                margin: 0 2px;
                font-size: 28px;
                color: rgb(168, 168, 168);
                letter-spacing: 0.9px;
                padding: 8px 12px;
                border-radius: 0.4rem;
                &:hover {
                    background-color: rgb(37, 37, 37);
                    color: rgb(255, 255, 255);
                    transition: 0.5s all ease;
                }

            }

            #close_menu {
                background: none;
                border: none;
                position: absolute;
                position: fixed;
                top: 20px;
                right: 20px;
                font-size: 0;
                transition: 0.5s font-size;                
                i {
                    color: white;
                }
            }


        }

        .atajos {
            .selected { 
                background-color: rgb(37, 37, 37);
                color: rgb(199, 199, 199);
                transition: 0.5s all ease;
            }

            a {
                margin: 0 2px;
                color: rgb(100, 100, 100);
                letter-spacing: 0.9px;
                padding: 8px 12px;
                border-radius: 0.4rem;
                &:hover {
                    background-color: rgb(37, 37, 37);
                    color: rgb(199, 199, 199);
                    transition: 0.5s all ease;
                }
            }
        }

        .botones {
            .contacto {
                background-color: #17FFA6;
                color: $background;
                padding: 8px 26px;
                border-radius: 0.4rem;
                font-weight: 700;
            }
        }
    }
}

.paddingNav {
    padding-top: 110px !important;
}

.presentacion {
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
    height: calc(100vh - 101px);
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
    position: relative;

    overflow: hidden;

    .contenido {
        width: 60%;
        font-size: 1.28rem;
        color: white;
        letter-spacing: 1.3px;

        h2 {
            font-weight: 400px;
            margin: 0;
        }

        h1 {
            font-weight: 400px;
            margin: 0;
        }

        .descripcion {
            font-size: 18px;
            color: rgb(133, 133, 133);
            letter-spacing: 1.4px;
            padding-bottom: 30px;
        }

        .boton {
            padding: 13px 25px;
            border: 2px solid $primary_light;
            color: $primary_light;
            border-radius: 0.6rem;
            font-size: 15px;
            transition: 0.4s all ease;
            font-weight: 400;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            
            &:hover {
                color: $background;
                background-color: $primary;
                font-weight: 500;
            }
        }

        #textPresentacion {
            display: inline-block !important;
            overflow: hidden;
            vertical-align: top;
            border-right: .15em solid $secondary_bg;
            white-space: nowrap; 
        }
    }

    .ilustracion {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 90%;
        }
    }

    .bajemos {
        position: absolute;
        bottom: 30px;
        left: 0; 
        right: 0; 
        margin-inline: auto; 
        width: fit-content;
        animation: fadeInDownBig 1.4s infinite;
        border-radius: 50%;

        i {
            color: $primary_light;
            font-size: 30px;
        }
    }
}

.gray {
    color: rgb(209, 213, 219);
}

.underline {
    text-decoration: underline;
}

.resaltar {
    color: $primary_light;
}

.resaltar2 {
    color: $primary;
}

.clientes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 60px;

    .titulo {
        font-size: 19px;
        font-weight: 500;
        color: $primary_light;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }

    .marcas {
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            margin: 40px 42px;
            height: 90px; 
            filter:  grayscale(100%);
        }

        a:hover > img {
            transition: 0.5s filter;
            filter:  grayscale(0%);
        }

    }

}

.info {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 30px 60px;

    .left {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 90%;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 52%;
        text-align: left;
        height: 100%;

        .titulo {
            color: $primary_light;
            font-size: 2.2rem;
            font-weight: 600;
        }

        .descripcion {
            font-size: 16px;
            letter-spacing: 1.1px;
            margin: 5px;
            color: rgb(209, 213, 219);
        }

        .botones {
            margin-top: 25px;
            .boton {
                background-color: $primary_light;
                color: $background;
                padding: 8px 26px;
                border-radius: 0.6rem;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}

.servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(199, 199, 199);
    padding: 50px 0;

    .titulo {
        font-size: 26px;
        letter-spacing: 1.5px;
        margin-bottom: 0;
        font-weight: 500;
        color: $primary_light;
        text-transform: uppercase;
    }

    .descripcion {
        font-size: 17px;
        letter-spacing: 1.5px;
        padding-bottom: 30px;
        width: 70%;
        text-align: center;
    }

    .cajas {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .caja {
            margin: 7px 15px;
            padding: 20px;
            background-color: rgb(6, 14, 13);
            border-radius: 10px;
            border: 0.5px solid #222222;
            width: 35%;
            outline: none;
            letter-spacing: 1.1px;
            height: 150px;

            .cabecera_caja {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .icon {
                    color: $primary_op;
                    font-size: 32px;
                }

                a {
                    color: rgb(199, 199, 199);
                }
            }

            .caja_titulo {
                color: white;
                font-weight: 600;
                margin-bottom: 0px;
                letter-spacing: 1px;
                font-family: 'Inter Tight', sans-serif;
            }

            .descripcion_caja {
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.87px;
                color: rgb(136, 176, 149);
            }


        }
    }
}


.procesos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(199, 199, 199);
    padding: 50px 0;

    .titulo {
        font-size: 26px;
        letter-spacing: 1.5px;
        margin-bottom: 0;
        font-weight: 500;
        color: $primary_light;
        text-transform: uppercase;
    }

    .descripcion {
        font-size: 17px;
        letter-spacing: 1.5px;
        padding-bottom: 30px;
        width: 70%;
        text-align: center;
    }

    .lista_procesos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .proceso {
            position: relative;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;

            padding: 25px 20px;
            background-color: rgb(6, 14, 13);
            border-radius: 10px;
            border: 0.5px solid #222222;

            margin: 15px;
            height: 160px;
            width: 300px;
            outline: none;
            letter-spacing: 1.1px;
            border-bottom: 4px solid $primary_op;

            .nro_proceso {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                
                top: -17px;
                font-size: 20px;
                border-radius: 50%;
                height: 30px;
                width: 30px;

                color: rgb(6, 14, 13);
                background-color: $primary;

                font-weight: 600;
                margin: 0;
                margin-bottom: 15px;
            }
            
            .cabecera {
                padding-top: 15px;
                .titulo_proceso {
                    font-size: 19px;
                    font-weight: 600;
                    margin: 0;
                    color: $primary_light;
                    letter-spacing: 1.2px;
                    font-family: "Inter Tight", sans-serif;
                }
            }

            .contenido {
                .desc_proceso {
                    font-size: 14px;
                    letter-spacing: 1.1px;
                    color: rgb(199, 199, 199);
                }
            }

        }
    }
}

.info_invertida {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 30px 60px;

    .right {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 90%;
        }
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 52%;
        text-align: left;
        height: 100%;

        .titulo {
            color: $primary_light;
            font-size: 2.2rem;
            font-weight: 600;
        }

        .descripcion {
            font-size: 16px;
            letter-spacing: 1.1px;
            margin: 5px;
            color: rgb(209, 213, 219);
        }

        .botones {
            margin-top: 25px;
            .boton {
                background-color: $primary_light;
                color: $background;
                padding: 8px 26px;
                border-radius: 0.6rem;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}

.formulario_contacto {
    .input { 
        input { 
            padding: 0.9rem;
            background-color: $secondary_bg;
            width: 90%;
            border: none;
            outline: none;
            border-radius: .75rem;
            font-size: 14px;
            letter-spacing: 1.1px;
            color: rgb(209, 213, 219);
        }
    }

    .enviar {
        margin-top: 25px;
        background-color: $primary_light;
        color: $background;
        padding: 15px 36px;
        border-radius: 0.6rem;
        font-weight: 700;
        text-transform: uppercase;
        outline: none;
        border: none;
    }
}

footer {
    padding: 30px;
    background-color: $secondary_bg;

    display: flex;
    justify-content: space-evenly;


    .footer_col {
        width: 30%;
        display: flex;
        flex-direction: column;

        .titulo {
            padding-bottom: 6px;
            border-bottom: 1px solid $primary;
            font-size: 18px;
            font-weight: 600;
            color: $primary;
            letter-spacing: 1.1px;
        }

        .descripcion {
            margin: 0;
            margin-bottom: 3px;
        }
        
        .vinculo {
            color: rgb(199, 199, 199);
            border-bottom: 1px solid gray;
            padding: 3px 0;
            transition: 0.6s all ease;

            &:hover {
                color: $primary;
                border-bottom-color: $primary;
            }
        }
    }
}

.showonphone {
    display: none;
}

@media ( max-width: 600px ){

    .servicios {
        .titulo {
            font-size: 23px;
        }

        .descripcion {
            text-align: justify;
            width: 90%;
            font-size: 14px;
        }
    }

    .presentacion {
        width: calc( 100% - 30px );
        padding-right: 15px;
        padding-left: 15px;

        .contenido {
            font-size: 1.18rem;
            h1 {
                flex-direction: column;
                display: flex;
            }


        }
    }

    .info_invertida {
        padding: 30px 30px;
        .left {
            width: 100%;
    
            .titulo {
                font-size: 23px;
            }
    
            .descripcion {
                width: 100%;
                font-size: 14px;
            }
        }
    }

    .info {
        padding: 30px 30px;
        .right {
            width: 100%;
    
            .titulo {
                font-size: 23px;
            }
    
            .descripcion {
                width: 100%;
                font-size: 14px;
            }
        }
    }

    .formulario_contacto  {
        .input {
            input {
                width: 100%;
            }

            p {
                text-align: left;
            }
        }
    }
}

@media ( max-width: 900px ){
    .showonphone {
        display: inherit !important;
    }
    .hidephone {
        display: none !important;
    }

    nav {
        width: calc(100% - 40px);
        padding: 23px 20px;

        .navinfo {
            padding: 0 15px;
            width: calc(100% - 30px);
            justify-content: center;
        }

        .bar {
            .botones {
                .btnmenu {
                    background: none;
                    font-size: 20px;
                    outline: none;
                    border: none;
                    height: 0;

                    i {
                        color: white;
                    }
                }
            }
        }
    }


    .clientes {
        text-align: center;
        .marcas {
            flex-wrap: wrap;
            img {
                margin: 10px;
            }
        }
    }

    .presentacion {
        .contenido {
            width: 100%;
            text-align: left;
            .titulo { 
                text-align: left;

            }
        }
        .ilustracion {
            display: none;
        }
    }

    .servicios {
        .cajas {
            flex-direction: column;
            .caja {
                width: 80%;
                margin: 10px 0;
            }
        }
    }
    
    .procesos {
        .titulo {
            width: 85%;
        }
        .descripcion {
            width: 85%;
            text-align: left;
        }
        .lista_procesos {
            flex-direction: column;
            .proceso {
                width: 85%;
                margin: 15px 0;
                height: auto;


            }
        }
    }

    .info {
        .left {
            display: none;
        }
        .right {
            width: 100%;
            text-align: left;
        }
    }

    .info_invertida {
        .left {
            width: 100%;
            text-align: left;
        }
        .right {
            display: none;
        }
    }

    .formulario_contacto  {
        .input {
            input {
                width: calc(100% - 0.9rem - 0.9rem);
            }

            p {
                text-align: left;
            }
        }
    }


    footer {
        flex-direction: column;

        .footer_col{
            width: 100%;
        }
    }
}


@keyframes fadeInDownBig {
    0% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -30px, 0);
    }
    60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -30px, 0);
    }
} 


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $background_opa;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $secondary_bg;
    border-radius: 2rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $secondary_bg;
  }

  @keyframes move {
    from {
      transform: rotate(0deg) scale(12) translateX(-20px);
    }
    to {
      transform: rotate(360deg) scale(18) translateX(20px);
    }
  }
  
  .typing {
    animation: typing 3.3s steps(40, end);
  }

  @keyframes typing {
    from { max-width: 0px;}
    to { max-width: 500px; }
  } 